# Environments
.env
.env2
.venv
.venv2
env/
venv/
env2/
venv2/


_pycache_/
*.py[cod]

.DS_Store
.vscode

#Folders
idmapping_2024_04_16.fasta/*
mitochondrial_dataset_UniProt_ID.csv/*
mitochondrial_dataset.csv/*
full_sequence.ipynb/*