# Environments
.env
.env2
.venv
.venv2
env/
venv/
env2/
venv2/


_pycache_/
*.py[cod]

.DS_Store
.vscode

#Folders
idmapping_2024_04_16.fasta/*
idmapping_2024_03_23.fasta/*
idmapping_2024_03_27.fasta/*
idmapping_2024_03_28.fasta/*
idmapping_2024_04_16.fasta/*

mitochondrial_dataset_UniProt_ID.csv/*
mitochondrial_dataset.csv/*
full_sequence.ipynb/*
deeploc_process.ipynb/*
entity_extraction_graph.ipynb/*
entity_extraction_nograph.ipynb/*
extract_contact_maps.ipynb/*
cnn.ipynb/*
query.ipynb/*
model.ipynb/*
obtain_3D_structure.ipynb/*
SortingSignalsSwissprot.csv/*
combined_graphmodel_dataset.csv/*
finalized_complete_NLS_sequence_table.csv/*
requirements.txt/*

output_dir/*
seq_pickle_dir/*
blast_graph_dir/*
binary_model/*
csv_files/*